node_modules
**/node_modules
.DS_Store

.env
.env.*
!.env.example
**/.env
**/.env.*
!**/.env.example

.next
**/.next
out
build
dist
coverage

contracts-recovered/artifacts
contracts-recovered/cache
contracts-recovered/typechain-types

server/dist

*.log
*.tsbuildinfo
