PORT=4000
CONTRACTS_PROJECT_DIR=../contracts-recovered
MONGODB_URI=mongodb://127.0.0.1:27017/eagle
REDIS_URL=redis://127.0.0.1:6379
BSC_RPC_URL=https://bsc-dataseed.binance.org/
EAGLE_FACTORY_ADDRESS=0xEfca26BAc433975a27E894eeD196C8a1D32c4beE
EAGLE_FACTORY_START_BLOCK=
EAGLE_SYNC_BLOCK_WINDOW=20000
TOKEN_SYNC_COOLDOWN_MS=30000
